# IntelliJ IDEA ================================================================
.idea/
test/

# Java & Maven =================================================================
target/
*.class

# Nécessaire ===================================================================
!mvnw
!mvnw.cmd
!.mvn/
!lib/
!lib/contract.jar